body {
  background-color: #E43A3A;
  font-family: "Padauk", sans-serif;
  margin: 0;
  height: 100vh;
  color: #050505;
}

nav.container {
    padding: 3.5em 8em 0 8em;
    height: 25em;
    width: 15.4em;
    flex-shrink: 0;
  }

div.wrapper {
  position: fixed;
  margin: 1em 0;
}

  h1 {
    letter-spacing: 0.03em;
    font-size: 3em;
    line-height: .9;
    /*border-bottom: thick double #E43A3A;*/
  }


  /* blob */

svg {
  color: #050505;
}

.circle {
    margin-top: 4em;
  }
  
  .icon {
    width:  13em;
    height: 13em;
  }
  
  .expand-link {
    display: inline-block;
  }
  
  .expand-link .icon-contract {
    display: none;
  }
  
  .expand-link:hover .icon-expand,
  .expand-link:active .icon-expand {
    display: none;
  }
  
  .expand-link:hover .icon-contract,
  .expand-link:active .icon-contract {
    display: block;
  }
  
  
  /* subpage links */
  
  section.categories {
    font-size: 2em;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    margin-top: 2em;
  }
  
  a {
    color: #050505;
    text-decoration: none;
  }
  
  a.category {
    cursor: crosshair;
    border-bottom: solid 1.75px;
    margin-bottom: 0px;
  }
  
  a.category:hover {
    font-weight: bold;
  }
  
  
  /* footer */
  
  
  footer {
    margin-top: 4.5em;
    letter-spacing: .02em;
  }
  
  a.email {
    font-weight: bold;
    font-size: 1em;
    cursor: help;
  }
  
  a.email:hover {
    color: #E43A3A;
    background-color: #050505;
  }
  
  a.social {
    font-size: 1em;
    cursor: crosshair;
    
  }
  
  a.social:hover {
    font-weight: normal;
    border-bottom: solid 1px;
  }
  
  span.socials {
    margin: 0 .5em;
  }
  
  /* main subpages */
  
  
  div.split-screen {
    display: flex;
  }

  div.open-space {
    height: 2.1em;
    position: absolute;
  }

  main {
    border-left: 1px solid #050505;
    margin: 0 auto;
    width: 100%;
    padding: 4.75em 6em 0 6em;
   
  }
  
  main.work {
    height: 100vh;
  }
  
  div.subpage {
    padding-left: .9em;
  }
  
  .you-are-here {
    font-size: 22px;
    letter-spacing: .4em;
    position: absolute;
  }
  
  
  a.am-home {
    cursor: context-menu;
    padding: 0;
    margin: 0;
  }

  h1.go-home {
    cursor: context-menu;
    padding: 0;
    margin: 0;
    
  }

 /*
  h1.go-home:hover {
    border-bottom: thick double #050505;
  }*/
  
  .dropdown {
    position: relative;
    border-bottom: thick double #E43A3A;
    }

  .dropdown-content {
    padding-top: 5px;
    display: none;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }

  .dropdown-content a.menu {
    /*padding-left: 20px;*/
    font-size: 17px;
    margin: 0;
    padding-left: 15px;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
    line-height: 1.7;
    border-bottom: 1px solid #050505;
    /*border-right: 1px solid #050505;
    border-left: 1px solid #050505;
    border-top: 1px solid #050505;*/

  }

  #go-home {
    border-bottom: none;
    border-top: none;
  }

  .dropdown-content a:hover {
    background-color:  #050505;
    color: #E43A3A;
    font-weight: 700;
  }

  .dropdown:hover .dropdown-content {
    position: absolute;
    display: inline-block;
  }

  .dropdown:hover {
    border-bottom: thick double #050505;

  }
  /* subpage: art */
  
.art-content-box {
  margin: 100px 0 100% 0;
}

div.art-content-box summary.section-head {
  padding-left: 1px;
  padding-top: 5px;
 
  border-top: 1px solid #050505;
  margin: 35px 25px 25px 0;
  text-transform: uppercase;
  /*font-variant-caps: all-small-caps;*/
  letter-spacing: 1.1px;
  font-size: 18px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 30px;
  position: relative;
  z-index: 1;
}

.grid-container.tabs {
  grid-row-gap: 25px;
}

.grid-container.tabs.short {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

div.cell {
  margin: 0 auto;
  width: 325px;
  height: 200px;
  border: 1px solid #050505;
  font-size: 1rem;
  text-align: left;
  padding: 18px 25px;
}

div.cell:hover {
  background-color: rgba(0, 0, 0, 0.25);
  /*color: rgba(250, 250, 250, .85);*/

}

div.cell.right {
  text-align: right;
}

div.tab {
  margin: 0 auto;
  width: 325px;
  height: 25px;
  border: 1px solid #050505;
  font-size: 1rem;
  text-align: left;
  padding: 18px 25px;

  background-color: rgba(0, 0, 0, 0.85);
  color:  #E43A3A;
}

div.tab.right {
  text-align: right;
}

div.tab:hover {
  background-color: #050505;
  color: #FAFAFA;
 
  /*color: rgba(250, 250, 250, .85);*/

}


/*
.cell-1 {
  background: deepskyblue;
}
.cell-2 {
  background: orangered;
}
.cell-3 {
  background: royalblue;
}
.cell-4 {
  background: gold;
}
.cell-5 {
  background: blueviolet;
}
.cell-6 {
  background: limegreen;
}
.cell-7 {
  background: coral;
}
.cell-8 {
  background: lightseagreen;
}
.cell-9 {
  background: maroon;
}
*/

div.display-box {
  left: 50%;
  top: 10%;
  position: fixed;
  z-index: 2;

  width: 500px;
  height: 600px;

  background: #E43A3A;
  border: 1px solid #050505;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* about - map */fwhite


.worldmap {
  margin-top: 4%;
  padding-left: .5em;
}

.map {
  width: 20em;
}

.expand-link {
  display: inline-block;
}
.expand-link .map-contract {
  display: none;
}
.expand-link:hover .map-expand,
.expand-link:active .map-expand {
  display: none;
}
.expand-link:hover .map-contract,
.expand-link:active .map-contract {
  display: block;
}



