body {
  background-color: #E43A3A;
  font-family: "Padauk", sans-serif;
  height: 100vh;
  margin: 0;
  color: #050505;
}

nav.container {
    position: fixed;
    display: flex;
    justify-content: flex-start;   
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 3em 5em;
  }

  h1 {
    letter-spacing: 0.03em;
    font-size: 3em;
    margin: 0px;
  }


  /* blob */

svg {
  color: #050505;
}

.circle {
    margin-top: 3.2em;
  }
  
.icon {
  width:  13em;
  height: 13em;
  }

.expand-link {
  display: inline-block;
  }

.expand-link .icon-contract {
  display: none;
  }

.expand-link:hover .icon-expand,
.expand-link:active .icon-expand {
  display: none;
}

.expand-link:hover .icon-contract,
.expand-link:active .icon-contract {
  display: block;
}



/* subpage links */

section.categories {
  margin-top: 2.1em;
  font-size: 2em;
  letter-spacing: 0.03em;
  line-height: 1.5em;

}

a {
  color: #050505;
  text-decoration: none;
}

a.category {
  cursor: crosshair;
  border-bottom: solid 1.75px;
}

a.category:hover {
  font-weight: bold;
}


/* footer */


footer {
  margin-top: 4.5em;
  letter-spacing: .02em;
}

a.email {
  font-weight: bold;
  font-size: 1em;
  cursor: help;
}

a.email:hover {
  color: #E43A3A;
  background-color: #050505;
}

a.social {
  font-size: 1em;
  cursor: crosshair;

}

a.social:hover {
  font-weight: normal;
  border-bottom: solid 1px;
}

span.socials {
  margin: 0 .5em;
}

/* main subpages: art & work */




div.subpage {
  padding-left: .9em;
}

.you-are-here {
  font-size: 22px;
  letter-spacing: .4em;
  position: absolute;
}

a.go-home {
  text-decoration: none;
  cursor: context-menu;
}


/* about - map */


.worldmap {
  margin-top: 4%;
  padding-left: .5em;
}

.map {
  width: 20em;
}

.expand-link {
  display: inline-block;
}
.expand-link .map-contract {
  display: none;
}
.expand-link:hover .map-expand,
.expand-link:active .map-expand {
  display: none;
}
.expand-link:hover .map-contract,
.expand-link:active .map-contract {
  display: block;
}



