@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');
@font-face {
  font-family: 'whoismono';
  src: url('fonts/whois-mono.eot');
  src: url('fonts/whois-mono.woff') format('woff'),
       url('fonts/whois-mono.ttf') format('truetype'),
       url('fonts/whois-mono.svg#whoismono') format('svg');
}

* {
    box-sizing: border-box;
}


body {
  color: #151515;
  background-color: #82845f; /* #a69166; /* #9e9f99; #B0B68F; */        
  font-family: 'whoismono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* to see the container */


}


details::selection  {
    background-color: #151515;
}

span.block::selection {
  background-color: #82845f;
}

span.strike::selection  {
    text-decoration: none;
    background-color: #82845f;
}

main {
  font-size: 4vw;
  line-height: 1.5;
}


span.strike {
  text-decoration: line-through;
}

span.strike:hover {
  cursor: crosshair;
}
  
 /*
  color: #a69166;
  padding: 0 5px;
  border-bottom: 1px solid #7bb4a7;
 
  */



span.block {
    background-color: #151515;
    padding: 0;
}


main section  {
  margin: 2em 2em;
}

main section div {
    border-bottom: 1px solid #151515; 
  padding: 5px 0;

}

main a {
  text-decoration: none;
   color: #151515;
   padding: 2px;
}

main div a {
  padding: 0px 1px;
  background-color: #a6d4ca; /*#7bb4a7;*/
}



details {
  padding: 3px 0;
}

details summary {
  cursor: pointer;
}

/*
details:hover {
  cursor: pointer;
  color: #151515;
}

main a:hover {
  background-color: #151515;
}

span.block:hover {
  background-color: #7bb4a7;
  cursor: pointer;
}
  */

section.toggles {
  display: flex;
  justify-content: center;
  margin: 2em;
}

/*to see the container
div {
  border: 1px solid greenyellow; 
}
   */

div.svg-container {
    width: 10vw; 
    display: flex;
    justify-content: center;
 
     /* to see the container */
    margin: 1px;
    padding: 1px;
}

img {
  width: 100%;
  height: auto;
  margin: 0 1em;
}

/* not in use right now */

/*

div.title {
  
  font-weight: 600;
  text-align: center;
  font-size: 13vw;

to see the container
  margin: 1px;
  padding: 1px;
  border: 1px solid greenyellow;
}

 */ 

 /*
// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name

.inclusive-sans-<uniquifier> {
  font-family: "Inclusive Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/
