@import url("reset.css");
@font-face {
  font-family: 'whoismono';
  src: url('fonts/whois-mono.eot');
  src: url('fonts/whois-mono.woff') format('woff'),
    url('fonts/whois-mono.ttf') format('truetype'),
    url('fonts/whois-mono.svg#whoismono') format('svg');
}

* {
  box-sizing: border-box;
}


body {
  color: #101010;
  background-color: #768853;
  font-family: 'whoismono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}
/* some earlier background-color options: #a69166; /* #9e9f99; #B0B68F; */

/* selection styles */

details::selection {
  background-color: #101010;
}

span.block::selection {
  background-color: #768853;
}

span.strike::selection {
  text-decoration: none;
  background-color: #768853;
}

/* main content */

main {
  font-size: 6vw;
  line-height: 1.5;
}


main section {
  margin: 2em 2em;
}

main section div {
  border-bottom: 1px solid #101010;
  padding: 10px 0;

}

main a {
  text-decoration: none;
  color: #101010;
  padding: 2px;
}

main div a {
  padding: 4px 10px;
  background-color: #a6d4ca;
  border: 1.5px solid #101010;
  
}

main div a:hover {
  background-color: whitesmoke;
}

/* earlier consideration for highlight color #7bb4a7;*/

/* text styles */

/* consideration ..
span.arrow {
    position: relative;
    top: 0px;
*/


span.strike {
  text-decoration: line-through;
}

span.strike:hover {
  cursor: crosshair;
}

span.block {
  background-color: #101010;
  padding: 0;
}


/* details and summary */

details {
  padding: 3px 0;
}

details summary {
  cursor: pointer;
}

summary {
  font-size: 1.2rem; /* can use any responsive unit */
}

summary::marker {
  font-size: 1.2em; /* relative to summary's font size */
}


/* header */

header {
  padding: 1em 0;
}

svg.circle {
    width: 3.5em;
    transition: transform .7s ease-in-out;
    fill: #E1D0B8;
}


  svg.circle:hover {
    transform: rotate(360deg);
  }

section.toggles {
  display: flex;
  justify-content: center;
  margin: 3em 0 1em 0;
}

div.svg-container {
  width: 44px;
  display: flex;
  justify-content: center;

  margin: 1px;
  padding: 1px;

  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  margin: 0 1em;
}

/* responsive for desktop from mobile design */
@media (min-width: 450px) {
  main {
    font-size: 1.2rem;
    margin: 0 4em;
    padding: 1em 0;
  }

   /* test this: Fixed: summary should scale with main font size */
  summary {
    font-size: inherit; /* or 1.2rem to match main */
  }
}
}

@media (min-width: 750px) {
  main {
    font-size: 1.25rem;
    margin: 0 10em;
  }

  main section {
    margin: 2em 0;
  }
}

@media (min-width: 950px) {
  
header {
  margin: 1em 0;
}  
  main {
    margin: 0 27vw;
  }
  main section {
    padding-bottom: 1em;
  }
}

