body {
    margin: 0;
    color: #F5F5F5;
    background-color: #0A0A0A;
    font-family: Karrik, sans-serif;
    font-size: 20px;
    font-weight: 400;
  }
  
 
 
  h1.index {
    font-weight: 400;
    font-size: 3em;
    margin: 0 0 10px 0;
    letter-spacing: 2px;
    
  }

  .intro {
     margin: 3.75em 0 0 0;
    line-height: 2rem;
     letter-spacing: -1;
     
  }

  main {
    margin-top: 50px;
    margin-left: 3em;
    width: 25px;
  }

  div.dot {
    font-size: 36px;
    margin-left: 1.5em;
  }


/* CSS for blob hover effect */

svg {
  color: #F5F5F5;
}

.icon {
    width:  200px;
  }
  
  .expand-link {
    display: inline-block;
  }

  .expand-link .icon-contract {
    display: none;
  }

  .expand-link:hover .icon-expand,
  .expand-link:active .icon-expand {
    display: none;
  }

  .expand-link:hover .icon-contract,
  .expand-link:active .icon-contract {
    display: block;
  }
  
  .circle {
    margin-top: 4em;
  }

  aside {
    position: fixed;
    top: 50px;
    right: 75px;
  }

  div.box {
    font-family: 'Space Mono', monospace;
    text-align: left;
    width: 200px;
    padding: .1em 2em 3em;
    color: #16FEDB;
    font-style: normal;
    /*transition: background-color .3s;
    background-color:  rgba(28, 24, 23, 1);*/
    transition: box-shadow 1.25s;
    box-shadow: 0px 0px 0px rgba(28, 24, 23, 1);
    /*transition: border .2s;
    border: rgba(153, 94, 184, 1) solid 0px;*/

  }

  div.box:hover {
   /*border:  #ED9954 solid 1px;
    background-color: rgba(153, 94, 184, 1);*/
    box-shadow: 10px 10px 10px rgba(155, 247, 17, 1), -.7em 0 .4em rgba(155, 247, 17, 1);
    text-decoration: #ED9954 wavy underline;
    font-style: italic;
  }
 
  h3 {
    
    font-weight: 500;
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ED9954;*/
    background-color:  rgba(28, 24, 23, 1);
    border:  #ED9954 dotted 2px;
    margin-left: 0;
    padding: 10px;
    font-size: 15px;
    width: 7.5em;
    text-align: center;
  }

a {
  color: #1C1817;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

div.blob-page {
  margin: 1em 0;
  padding: 3.5em 8em;
}

@font-face {
  font-family: "Karrik";
  src: url("/resources/font/WOFF2/Karrik-Regular.woff2") format("woff2"),
       url("/resources/font/WOFF/Karrik-Regular.woff") format("woff");
}